@font-face {
    font-family: "DM Sans";
    src: url("../../app/[locale]/fonts/DMSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: "DM Sans2";
    src: url("../../app/[locale]/fonts/DMSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: "DM Sans3";
    src: url("../../app/[locale]/fonts/DMSans-Regular.ttf");
    font-weight: 200;
    font-style: normal;
      font-display: swap;
  }